/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header */

body {
  background-color: #fafafa;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 100px;
}

.search_wrap {
  width: 215px;
  height: 28px;
}

input[type="text"].instaSearch {
  font-family: proxima-nove, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  height: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #edeeee;
  background: #fafafa;
  background-image: url("../images/glass.png");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 85px 10px;
  outline: none;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #c9cbcc;
}
input[type="text"]:focus.instaSearch {
  text-align: left;
  padding-left: 30px;
  background: #ffffff;
  background-image: url("glass.png");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 15px 7px;
  color: #000;
}

input:focus::-webkit-input-placeholder {
  color: #c9cbcc;
}
input:focus::-moz-placeholder {
  color: #c9cbcc;
}
input:focus::-moz-placeholder {
  /* Older versions of Firefox */
  color: #c9cbcc;
}
input:focus::-ms-input-placeholder {
  color: #c9cbcc;
}

/* story */

.story_container {
  width: 614px;
  border: 1px solid #dbdbdb;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.story_container ul {
  list-style-type: none;
  user-select: none;
  display: flex;

  overflow-y: auto;
  padding: 20px 0;
}

.story_container ul li {
  padding: 0 10px;
}

.story_container ul li:first-child {
  padding-left: 20px;
}

.story_container ul li:last-child {
  padding-right: 20px;
}

.story_container ul li .story {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: (255, 255, 255, 0.75);
  padding: 1px;
  position: relative;
}

.story_container ul li has-story .story {
  padding: 2px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cce366 75%,
    #bc1888 100%
  );
}

.story_container ul li .story img {
  padding: 4px;
  background-color: currentColor;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.story_container ul li span {
  color: gray;
  font-weight: 300;
  font-size: 15px;
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.has-story {
  /* align-items: center;
  justify-content: center; */
}

/* section */

.icon > ul > li {
  display: inline;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.post-1 {
  margin-top: 24px;
  width: 614px;
  height: 941px;
  border: 1px solid #dbdbdb;
}

.post-top {
  display: flex;
  height: 60px;
}

.avator .name .ellipsis {
  flex: none;
}

.avator {
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.name {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}

.ellipsis {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.avator img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.post-img img {
  width: 614px;
  height: 614px;
}

.button-wrap {
  width: 40px;
  height: 40px;
}

.post-bottom {
  height: 237px;
}

.post-button {
  display: flex;
  height: 40px;
}

.comments {
  height: 56px;
}
